$carousel-indicator-width: 0.5rem;
$carousel-indicator-active-bg: #E0752f;
$carousel-indicator-height: 0.5rem;
$carousel-control-next-icon-bg: url("/img/Icon\ feather-arrow-right-circle.svg");
$carousel-control-prev-icon-bg: url("/img/Icon\ feather-arrow-left-circle.svg"); 
@import "../node_modules/bootstrap/scss/bootstrap.scss"