@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@300&display=swap');

 
 
body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #f2f4f1 75%, #dce1da 25%);
}
#primera-pagina .container-1{
    width: 100%;
    height: 768px;
    background-image: url(/img/slider-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
 
#primera-pagina .container-1 .carrusel{
    display: flex;
    width: 30%;
    height: 30%;
  
} 
#primera-pagina .container-1 .posicion{
    bottom: 30%;
    left: 10%;
    width: 50rem;
    height: 35rem;

}
#primera-pagina .container-1 .carrusel-texto{
    margin-top: 254px;
    margin-left: 101px;
}
#primera-pagina .container-1 .texto-primero{
    width: 554px;
    height: 115px;
    color: #ffffff;
    letter-spacing: 0.67px;
    font-size: 46px;
    text-align: left;
    opacity: 1;
    font-family:var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-poppins);

}
#primera-pagina .container-1 .texto-segundo{
    width: 343px;
    height: 42px;
    margin-top: 50px;
    letter-spacing: 0.22px;
    text-align: left;
    color: #ffffff;
    font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    font-size: 16px;
    opacity: 1;
}
#primera-pagina .container-1 .boton{
    width: 144px;
    height: 48px;
    margin-top: 50px;
    border-radius: 25px;
    background: #E0752F;
    color: #FFFFFF;
    border-style: none;
    margin-right: 1121px;
    font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;

}
#primera-pagina .container-1 .redondo{
    border-radius: 50%;
    align-items: flex-start; 
}
#primera-pagina .container-1 .principal{
    display: flex;
    width:100%;
    height: 96px;
    justify-content: space-between;
    border-bottom: 2px solid #E0752F;
    align-items: center;
    
}
#primera-pagina .container-1 .principal .logo{
    width: 129px;
    height: 30px;
    margin-left: 100.33px;
    margin-top: 33px;
    margin-bottom: 33px;
    right: 1137px;
 
}
.menu {
    height: 96px;
    display: flex;
    flex-wrap: wrap;
    position: static;
    width: auto;
    transform: translateX(0%);
    float:inherit;
    background: transparent;
    justify-content: flex-end;
    align-content: space-around;
    text-align: center;
    left: 811px;
    margin-right: 80px;
    
  }
  
  .menu a {
    display: inline-block;
    height: 21px;
    width: 100px;
    justify-content: right;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 1;
    
  }
  
 
#segunda-pagina .container-2{
    display: flex;
    width: 100%;
    height: 672px;
    background: #ffffff;
}
 
#segunda-pagina .container-2 .barra{
    width: 32px;
    height: 384px;
    background: #E0752F;
    margin-top: 144px;
    margin-bottom: 144px;
    
}
#segunda-pagina .container-2 .titulos{
    margin-left: 299px;
}
#segunda-pagina .container-2 .titulos .titulo-1 , .titulo-2{
    // height: 10px;
    // width: 386px;
    left: 299px;
    // right: 665px;
    text-align: left;
    letter-spacing: 0.55px;
    font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-39)/var(--unnamed-line-spacing-45) var(--unnamed-font-family-poppins);;
    font-size: 39px;
    top: 167px;
    
}

#segunda-pagina .container-2 .titulos .titulo-1{
    margin-top: 167px;
    width: 402px;
    height: 55px;
    margin-bottom: 0px;
    color: #343434;
    
}
 
 #segunda-pagina .container-2 .titulos .titulo-2{
    height: 55px;
    width: 386px;
    color: #E0752F;
    margin-top: 0px;
    left: 0px;
    bottom: 405px;
}
 
 #segunda-pagina .container-2 .titulos .texto-2{
    width: 768px;
    height: 197px;
    letter-spacing: 0.22px;
    color: #343434;
    opacity: 1;
    font-family: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-size: 16px;
    font-weight: normal;
    margin-top: 44px;
    text-align: justify;
    left: 299px;

 }
 
 
 
#tercera-pagina .container-3{
    width: 100%;
    height: 768px;
    opacity: 1;
    display: flex;
    align-items: center ;
    
}
#tercera-pagina .container-3 .imagen-3{
    width: 966px;
    height: 552px;
    background-image: url(/img/section3-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#tercera-pagina .container-3 .cuadrito{
    width: 471px;
    height: 304px;
    background-color: #E0752F;

}
#tercera-pagina .container-3 .titulo-3{
    width: 471px;
    height: 304px;

}
#tercera-pagina .container-3 .flecha-3{
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
#tercera-pagina .container-3 .texto-3{
    width: 137px;
    height: 21px;
    margin-top: 68px;
    margin-left: 50px;
    font-size: 16px;
    letter-spacing: 0.22px;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
}
#tercera-pagina .container-3 .texto{
    width: 229px;
    height: 55px;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.55px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 39px;
    
    margin-left: 50px;
}
#tercera-pagina .container-3 .tex{
    width: 372px;
    height: 63px;
    text-align: left;
    font-size: 12px;
    font-family: Roboto;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 50px;
    margin-top:0.5rem;

}
#tercera-pagina .container-3 .posicion-2{
    width: 471px;
    height: 304px;
    
    
}
#cuarta-pagina .container-4{
    width: 100%;
    height: 768px;
    background: #ffffff;
    background-image: url(/img/section4-image.png);
    background-position: right;
    background-repeat: no-repeat;
    display:flex;
}
#cuarta-pagina .container-4 .accordion{
    width: 669px;
    margin-top: 144px;
    margin-left: 101px;
    font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-roboto);
    text-align: left;
    font-size:  16px;
    letter-spacing: 0.22px;
    color: #5F6368;
    opacity: 1;
    
}
#quinta-pagina .container-5{
    width: 100%;
    height: 768px;
}
#quinta-pagina .container-5 .imagen-5{
    width: 594px;
    height: 400px;
    margin-left: 671px;
    background-image: url(/img/contact-image.png);
    top: 192px;
}
#quinta-pagina .container-5 .titulos-5{
    width: 471px;
    height: 100px;
    margin-top: 120px;
    margin-left: 101px;
}
 
#quinta-pagina .container-5 .titulos-5 .texto-5{
    width: 245px;
    height: 55px;
    letter-spacing: 0.55px;
    color: #343434;
    font-weight: bolder;
    text-align: left;
    margin-top: 120px;
    font-family: var(--unnamed-font-family-poppins);
    font-size: 39px;
    opacity: 1;
    margin-bottom: 0px;
}
    
 
#quinta-pagina .container-5 .titulos-5 .texto-6{
    width: 285px;
    height: 55px;
    /*height: 55px;*/
    letter-spacing: 0.55px;
    color: #E0752F;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 75px;
    font-size: 39px;
    opacity: 1;
    font-family: var(--unnamed-font-family-poppins);
}
 
#quinta-pagina .container-5 .formulario-5 , .final-5{
    display: block;
    height: 33px;
    width: 100%;
    border: none;
    background: transparent;
    
    
}
#quinta-pagina .container-5 .formulario-5{
    width: 43px;
    height: 21px;
    font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.22px;
    color: #5F6368;
    opacity: 1;
    
    
}
#quinta-pagina .container-5 .final-5{
    border-bottom: 2px solid #bebebe;
    
    
}
 
#quinta-pagina .container-5 .boton-5{
    width: 144px;
    height: 48px;
    margin-top: 50px;
    border-radius: 25px;
    background: #E0752F;
    color: #FFFFFF;
    border-style: none;
    right: 1121px;
    font-family: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;

    

    
}
 
footer{
    display: flex;
    width: 100%;
    height: 96px;
    justify-content: space-between;
    background-color:#343434;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    align-items: center;
    font-size:16px;
    letter-spacing: 0.22px;
    color: #DCE1DA;
    opacity: 1;
    
    


}
